html, body {
  /*
   * presetWind3 resets all custom web fonts from unocss
   * that's why we manually add Geist here with fallbacks as safe fonts
   */
  font-family: Geist, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* data attributes */
[data-tooltip]:after {
  content: attr(data-tooltip);
}
[data-tooltip]:hover:after {
  content: attr(data-tooltip-hover);
}

/* utilities */
.aspect-poster {
  /* support for old browsers */
  padding-bottom: 100%;
}
.aspect-media {
  /* support for old browsers */
  padding-bottom: 56.25%;
}

@supports (aspect-ratio: 9 / 16) {
  .aspect-poster {
    aspect-ratio: 9 / 16;
    /* overwrite */
    padding-bottom: unset;
  }
  .aspect-media {
    aspect-ratio: 16 / 9;
    /* overwrite */
    padding-bottom: unset;
  }
}

/* animations */
.animate-progress-bar {
  animation-name: progress-bar;
  animation-duration: 750ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /*
   * add an animation delay so that cached routes
   * will not trigger this animation
   */
  animation-delay: 100ms;
}

/* keyframes */
@keyframes progress-bar {
  from {
    transform: translateX(-100%);
    /* override initial opacity value */
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    /* override initial opacity value */
    opacity: 1;
  }
}
